<mat-toolbar color="primary"> Contactos </mat-toolbar>
<div class="gallery">
    <mat-card *ngFor="let contacto of contactos">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ contacto.nombre }}</mat-card-title>
            <mat-card-subtitle>{{ contacto.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi voluptatibus quidem deleniti beatae architecto nam.
             Odit dolores cum modi? Aut exercitationem et molestias a necessitatibus impedit facilis quibusdam itaque porro.
        </mat-card-content>
    </mat-card>
</div>